<html>
    <head>
        <title> ROAR ALONE </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Explore1.css') }}">
    </head>
    <body>
        <header class="top-header"> 
            <a class="menu-item brand" href="#"> TH </a>
        </header>

        <div class="main-intent">
            <div class="box">    
                <div align="center"> <img src="https://s.isanook.com/tr/0/ud/279/1395681/5_reasonable.jpg"> </div>          
                
                <h2> รายละเอียดสถานที่ </h2>
                <p class="intro"> รหัสสถานที่ : {{ Ac['place_id']}} </p>
                <p class="intro"> ชื่อสถานที่ : {{ Ac['place_name']}}</p>
                <p class="intro"> ลองจิจูด : {{ Ac['longitude']}}</p>
                <p class="intro"> ละติจูด : {{ Ac['latitude']}}</p>
                <p class="intro"> รหัสแผนที่ : {{ Ac['map_code']}}</p>
               
                <br>
                <p class="intro"> สินค้า </p>
                <p><dd><font color="#537C8E" size="4"> ชา </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ชื่อชา : {{ Ac['sha']['sha_name']}}  </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รหัสชา :  {{ Ac['sha']['sha_type_code']}}         </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รหัสหมวดหมู่ :  {{ Ac['sha']['sha_type_description']}}    </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รูปร่างลักษณะ : {{ Ac['sha']['sha_cate_id']}}    </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> คำอธิบายหมวดหมู่ : {{ Ac['sha']['sha_cate_description']}} </font></dd></p>
                


                <h1 class="wek"> ข้อมูลสถานที่ </h1>
                <p><dd><font color="#A37E7E" size="3">  การแนะนำ : {{ Ac['place_information']['introduction']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  รายละเอียด : {{ Ac['place_information']['detail']}}  </font></dd></p>
                <p><dd><font color="#A37E7E" size="4">  ประเภทร้านอาหาร  </font></dd></p>

                {% if Ac['accommodation_types'] != null %}
                <p><dd><font color="#A37E7E" size="3">  CODE :   </font></dd></p>
                <p><dd><font color="#413C69" size="3">  {{ Ac['place_information']['accommodation_types'][0]['code']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  คำอธิบาย :   </font></dd></p>
                <p><dd><font color="#413C69" size="3">  {{ Ac['place_information']['accommodation_types'][0]['description']}} </font></dd></p>
                {% endif %}

                <p><dd><font color="#A37E7E" size="3">  ใบอนุญาตที่ลงทะเบียน : {{ Ac['place_information']['register_license_id']}}  </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  มาตรฐานดาว : {{ Ac['place_information']['hotel_star']}}  </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  แสดงเวลาเช็คอิน : {{ Ac['place_information']['display_checkin_time']}}  </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  แสดงเวลาชำระเงิน : {{ Ac['place_information']['display_checkout_time']}}   </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  หมายเลขห้อง :  {{ Ac['place_information']['number_of_rooms']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  ช่วงราคา : {{ Ac['price_range']}}   </font></dd></p>

                <br>
                <p><dd><font color="#537C8E" size="4"> ที่ตั้ง         </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ที่อยู่  :  {{ Ac['location']['address']}}      </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ตำบล : {{ Ac['location']['sub_district']}}      </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> อำเภอ : {{ Ac['location']['district']}}      </font></dd></p>               
                <p><dd><font color="#A37E7E" size="3"> จังหวัด : {{ Ac['location']['province']}}     </font></dd></p>                
                <p><dd><font color="#A37E7E" size="3"> รหัสไปรษณีย์ :  {{ Ac['location']['postcode']}}</font></dd></p>

                <br>
                <p><dd><font color="#537C8E" size="4"> ช่องทางการติดต่อ </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> เบอร์โทร </font></dd></p>
                <p><dd><font color="#85583F" size="3"> {{ Ac['contact']['phones']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> โทรศัพท์มือถือ </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ Ac['contact']['mobiles']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> แฟกซ์ </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ Ac['contact']['fax']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> อีเมล </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ Ac['contact']['emails']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> URL</font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ Ac['contact']['urls']}} </font></dd></p>
                

                <table border="1" width="100%">
                    <tr>
                     <td><p align="center">
                            <img src= "{{ Ac['thumbnail_url']}}" width="241" height="163"></a></td>
                     <td><p align="center">
                            <img src= "{{ Ac['web_picture_urls']}}" width="250" height="163"></a></td>
                     <td><p align="center">
                            <img src= "{{ Ac['mobile_picture_urls']}}" width="250" height="163"></a></td>
                    </tr>
                </table>

                <br>
                        <p><dd><font color="#362C1D" size="3">  สิ่งอำนวยความสะดวก : </font></dd></p>
                        {% if Ac['facilities'] != None %}
                        <p><dd><font color="#362C1D" size="3">  CODE :   </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['facilities'][0]['code']}} </font></dd></p>
                        <p><dd><font color="#362C1D" size="3">  DESCRIPTION : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['facilities'][0]['description']}} </font></dd></p>
                        {% endif %}
                        <p><dd><font color="#362C1D" size="3">  บริการ : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['services']}} </font></dd></p>
                        <p><dd><font color="#362C1D" size="3">  วิธีการชำระเงิน : </font></dd></p>
                        {% if Ac['payment_methods'] != None %}
                        <p><dd><font color="#362C1D" size="3">  CODE : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['payment_methods'][0]['code']}} </font></dd></p>
                        <p><dd><font color="#362C1D" size="3">  DESCRIPTION : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['payment_methods'][0]['description']}} </font></dd></p>
                        <p><dd><font color="#362C1D" size="3">  CODE : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['payment_methods'][1]['code']}} </font></dd></p>
                        <p><dd><font color="#362C1D" size="3">  DESCRIPTION : </font></dd></p>
                        <p><dd><font color="#85583F" size="3">  {{ Ac['payment_methods'][1]['description']}} </font></dd></p>
                        {% endif %}
                           
                        <br> 
                        <p><font color="#362C1D" size="3">  วิธีการเดินทาง : {{ Ac['how_to_travel']}} </font></dd></p>                        
                        <p><font color="#362C1D" size="3">  ปลายทาง </font></p>
                        <p><font color="#85583F" size="3">  {{ Ac['destination']}} </font></p>
                        <p><font color="#362C1D" size="3">  มาตรฐาน </font></p>
                        <p><font color="#85583F" size="3">  {{ Ac['standard']}} </font></p>
                        <p><font color="#85583F" size="3">  TAGS </font></p>
                        <p><font color="#4A3933" size="3">  {{ Ac['tags']}} </font></p>
                        <p><font color="#362C1D" size="3">  รางวัล </font></p>
                        <p><font color="#85583F" size="3">  {{ Ac['awards']}} </font></p>
                        <p><font color="#362C1D" size="3">  ห้อง </font></p>
                        <p><font color="#85583F" size="3">  {{ Ac['rooms']}} </font></p>
                        <p><font color="#362C1D" size="3">  วันที่อัพเดท </font></p>
                        <p><font color="#85583F" size="3">  {{ Ac['update_date']}} </font></p>
                  <br>
            </div>
        </div>
        <footer class="bottom-footer">
            <p> copy right </p>
        </footer>
    </body>
</html>