<html>
    <head>
        <title> ROAR ALONE </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Explore1.css') }}">
    </head>
    <body>
        <header class="top-header"> 
            <a class="menu-item brand" href="#"> TH </a>
        </header>

        <div class="main-intent">
            <div class="box">    
                <div align="center"> <img src= "{{ At['thumbnail_url']}}" > </div>          
                
                <h2> รายละเอียดสถานที่ </h2>
                <p class="intro"> รหัสสถานที่ : {{ At['place_id']}}</p>
                <p class="intro"> ชื่อสถานที่ : {{ At['place_name']}} </p> 
                <p class="intro"> ลองจิจูด : {{ At['longitude']}}</p>
                <p class="intro"> ละติจูด : {{ At['latitude']}} </p>
                <p class="intro"> รหัสแผนที่ : {{ At['map_code']}}</p>
               

                <br>
                <p class="intro"> สินค้า </p>
                <p><dd><font color="#537C8E" size="4"> ชา </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ชื่อชา : {{ At['sha']['sha_name']}}           </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รหัสชา : {{ At['sha']['sha_type_code']}}         </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รหัสหมวดหมู่ : {{ At['sha']['sha_type_description']}}     </font></dd></p>               
                <p><dd><font color="#A37E7E" size="3"> รูปร่างลักษณะ : {{ At['sha']['sha_cate_id']}}    </font></dd></p>               
                <p><dd><font color="#A37E7E" size="3"> คำอธิบายหมวดหมู่ : {{ At['sha']['sha_cate_description']}} </font></dd></p>
                
                

                <br>
                
                <p><dd><font color="#537C8E" size="4">  ข้อมูลสถานที่ :         </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  การแนะนำ : {{ At['place_information']['introduction']}}          </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  รายละเอียด : {{ At['place_information']['detail']}}         </font></dd></p>
                
                <br>
                {% if At['attraction_types'] == null %}
                <p><dd><font color="#537C8E" size="4">  ประเภทสถานที่ท่องเที่ยว : </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  รหัส : {{ At['place_information']['attraction_types'][0]['code']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  คำอธิบาย : {{ At['place_information']['attraction_types'][0]['description']}} </font></dd></p>
                {% endif %}

                <br>
                {% if At['attraction_types'] != null %}
                <p><dd><font color="#537C8E" size="4">  กิจกรรม : {{ At['activities']}} </font></dd></p>
                {% endif %}

                <p><dd><font color="#537C8E" size="4">  ค่าธรรมเนียม   </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  เด็กไทย : {{ At['place_information']['fee']['thai_child']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  ผู้ใหญ่ไทย : {{ At['place_information']['fee']['thai_adult']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  เด็กต่างชาติ : {{ At['place_information']['fee']['foreigner_child']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3">  ผู้ใหญ่ต่างชาติ : {{ At['place_information']['fee']['foreigner_adult']}} </font></dd></p>
                <p><dd><font color="#537C8E" size="4">  กิจกรรม : {{ At['activities']}} </font></dd></p>
                <p><dd><font color="#537C8E" size="4">  เป้าหมาย : {{ At['place_information']['targets']}}  </font></dd></p>
                
                <br>
                <p><dd><font color="#537C8E" size="4"> ที่ตั้ง         </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ที่อยู่ : {{ At['location']['address']}}      </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> ตำบล : {{ At['location']['sub_district']}}     </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> อำเภอ : {{ At['location']['district']}}     </font></dd></p>              
                <p><dd><font color="#A37E7E" size="3"> จังหวัด : {{ At['location']['province']}}      </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> รหัสไปรษณีย์ : {{ At['location']['postcode']}} </font></dd></p>
                

                <br>
                <p><dd><font color="#537C8E" size="4"> ช่องทางการติดต่อ </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> เบอร์โทร </font></dd></p>
                <p><dd><font color="#85583F" size="3"> {{ At['contact']['phones']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> โทรศัพท์มือถือ </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ At['contact']['mobiles']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> แฟกซ์ </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ At['contact']['fax']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> อีเมล </font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ At['contact']['emails']}} </font></dd></p>
                <p><dd><font color="#A37E7E" size="3"> URL</font></dd></p>
                <p><dd><font color="#85583F" size="3">  {{ At['contact']['urls']}} </font></dd></p>


                <br>
                    {% if At['facilities'] != None %}
                    <p><dd><font color="#362C1D" size="3">  สิ่งอำนวยความสะดวก </font></dd></p>
                    <p><dd><font color="#362C1D" size="3">  CODE : {{ At['facilities'][0]['code']}}</font></dd></p>
                    <p><dd><font color="#362C1D" size="3">  DESCRIPTION : {{ At['facilities'][0]['description']}}</font></dd></p>
                    {% endif %}
                    <p><dd><font color="#362C1D" size="3">  บริการ : {{ At['services']}} </font></dd></p>
                    <p><dd><font color="#362C1D" size="3">  วิธีการชำระเงิน </font></dd></p>
                    {% if At['payment_methods'] != None %}
                    <p><dd><font color="#362C1D" size="3">  CODE : {{ At['payment_methods'][0]['code']}}</font></dd></p>
                    <p><dd><font color="#362C1D" size="3">  DESCRIPTION : {{ At['payment_methods'][0]['description']}}</font></dd></p>                
                    {% endif %}
                    <p><dd><font color="#362C1D" size="3">  วิธีการเดินทาง : {{ At['how_to_travel']}}</font></dd></p>
                    <p><dd><font color="#85583F" size="2">   </font></dd></p>


                  <br>
                  <h1  class="wek"> วันธรรมดา </h1>
                <table style="width:100%">
                    <tr>
                        <th> DATE </th>
                       <th> วันที่ 1 </th>
                       <th> วันที่ 2 </th>
                       <th> วันที่ 3 </th>
                       <th> วันที่ 4 </th>
                       <th> วันที่ 5 </th>
                       <th> วันที่ 6 </th>
                       <th> วันที่ 7 </th>
                    </tr>
                    <tr>
                        <th> DATE </th>
                        <th> จันทร์ </th>
                        <th> อังคาร </th>
                        <th> พุธ </th>
                        <th> พฤหัสบดี </th>
                        <th> ศุกร์ </th>
                        <th> เสาร์ </th>
                        <th> อาทิตย์ </th>
         
                     </tr>
                    <tr>
                       {% if At['opening_hours'] != null %}
                       <th>   เวลาเปิดต่อสัปดาห์   </th>
                       <td>  {{ At['opening_hours']['weekday_text']['day1']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day2']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day3']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day4']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day5']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day6']['time']}} </td>
                       <td>  {{ At['opening_hours']['weekday_text']['day7']['time']}} </td>
                       {% endif %}
                    </tr>
    
                  </table>

                  <br>
                        <p><font color="#362C1D" size="3">  ปลายทาง </font></p>
                        <p><font color="#85583F" size="3">  {{ At['destination']}} </font></p>
                        <p><font color="#362C1D" size="3">  วันที่อัพเดท </font></p>
                        <p><font color="#85583F" size="3">  {{ At['update_date']}} </font></p>
                  <br>
            </div>
        </div>
        <footer class="bottom-footer">
            <p> copy right </p>
        </footer>
        
    </body>
</html>