<html>
    <head>
        <title> ROAR ALONE </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Explore1.css') }}">
    </head>
    <body>
        <header class="top-header"> 
            <a class="menu-item brand" href="#"> TH </a>
        </header>

        <div class="main-intent">
            <div class="box">    
                <div align="center"> <img src="https://s.isanook.com/tr/0/ud/279/1395681/5_reasonable.jpg" width="700" height="500"> </div>          
                
                
                <h2> รายละเอียดสถานที่</h2>
                <p class="intro"> รหัสเส้นทาง : </p>
                <p><dd><font color="#76504F" size="4">  {{ R['route_id']}} </font></dd></p>
                <p class="intro"> ชื่อเส้นทาง : </p>
                <p><dd><font color="#76504F" size="4">  {{ R['route_name']}} </font></dd></p>
                <p class="intro"> จำนวนวัน : </p>
                <p><dd><font color="#76504F"size="4">   {{ R['number_of_days']}} </font></dd></p>
                
                <br>
                {% for day in R['days'] %}
                
                <p class="intro"> ชื่อสถานที่ : {{ R['day.place_name'] }}</p>
                
                {%endfor%}
            
            </div>
        </div>
        <footer class="bottom-footer">
            <p> copy right </p>
        </footer>
    </body>
</html>